@charset "UTF-8";
/*
==================================================================================
Global rules
==================================================================================
*/
html {
  /*så att det finns lite marginal i kanten*/
  margin: 2%;
}
body {
  margin: auto;
  max-width: 860px;
  font-family: sans-serif;
  font-size: 100%;
  /* Lägg till deklarationer här */
}
section,
header,
footer {
  outline: 1px solid red;
}
/*
section, header, footer, nav, div[role=main] {
    outline: 1px solid red;
}

*/
/*
==================================================================================
Rules for reusable components
==================================================================================
*/

/* dborder ska vara här - avsnitt 11.7 */

/*
==================================================================================
Page header, all pages
==================================================================================
*/
header {
  text-align: center;
}
/*
==================================================================================
Page footer rules
==================================================================================
*/
footer {
  margin-top: 3em;
  text-align: center;
  color: #999;
}

/* TODO Avsnitt 5.2 */

/*
==================================================================================
Main site navigation
==================================================================================
*/

/* Alla regler för .menu med relaterade element */
.menu > h2 {
  margin: 0 0 1em;
  padding: 2em 0;
  background-color: #f5f5f5;
  text-align: center;
}

.menu a:link,
.menu a:visited {
  text-decoration: none;
  color: #000;
}
.menu a:focus,
.menu a:hover {
  text-decoration: underline;
  color: #a62f00;
}
.menu a:active {
  text-decoration: underline;
  color: #ff4900;
}

/* TODO Avsnitt 5.2, 5.4, 5.5, 5.6, 11.4.2 */

/*
==================================================================================
Start page rules
==================================================================================
*/
.startpage .logo {
  /* sätter storleken på bilden*/
  width: 235px;
  height: 198px;
}
.hwrap > a {
  display: flex; /*så att diven kan flexa*/
  flex-wrap: wrap; /*radbryter om det behövs*/
  align-items: center; /*lägger elementen centralt*/
  justify-content: center; /*intill varandra centralt*/
}
.hwrap > a {
  margin-right: 30px; /*skapar utrymme åt höger*/
}
.startpage h1 {
  font-size: 500%; /*storlek på rubriken*/
}
.tagline {
  font-size: 120%;
  padding: 0.5em;
  border-top: 3px double #00af64;
  border-bottom: 3px double #00af64;
  margin: 1 em 0;
}
.startpage {
  display: flex; /*kan använda flex layouten*/
  flex-wrap: wrap;
  justify-content: space-between;
}

.startpage header,   /*fyller sidans bredd*/
.startpage footer {
  flex: 0 0 100%;
}
.startpage section {
  /*lägger sectionerna jämte varandra*/
  flex: 0 0 22%;
}

/* Regler med klassen .startpage, avsnitt 5.2, 5.3 och 5.8 */

/*
==================================================================================
Subpages
==================================================================================
*/

/* TODO Avsnitt 11.4.1, 11.6,  */

/*
==================================================================================
Tables
==================================================================================
*/

/* TODO Avsnitt 12.3 */

/*
==================================================================================
Nivo Slider
==================================================================================
*/

/* TODO Avsnitt 14.7.4 */

/*
==================================================================================
Forms (contact page)
==================================================================================
*/

/* TODO Avsnitt 13.8.2 */

/*
==================================================================================
Blog page, show and edit
==================================================================================
*/

/* Detta kommer i boken Webbserverprogrammering 1 */

/*
==================================================================================
Adaptive design
==================================================================================
*/
.tagline button {
  /* display: none; */ /* Aktivera */
}
@media (max-width: 750px) {
  .hwrap > a {
    margin-right: 25px;
  }
  /* Lägg till regler enligt kapitel 15 */
}

/* TODO Avsnitt 15.4.2 + arbetsboken */
